* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}

.main {
    width: 90px;
    height: 200px;
    /* background-color: rgb(11, 12, 12); */
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/animation.jpg);
    background-repeat: no-repeat;

}

.cont1 {
    width: 90px;
    height: 66px;
    background-color: rgb(128, 0, 11);
    border-radius: 50%;
    animation: 13s red infinite;
}

.cont2 {
    width: 90px;
    height: 66px;
    background-color: rgb(193, 196, 38);
    border-radius: 50%;
    animation: 13s yellow infinite;

}

.cont3 {
    width: 90px;
    height: 66px;
    background-color: rgb(38, 196, 43);
    border-radius: 50%;
    animation: 13s green infinite;

}

@keyframes red {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: .1;
    }
}

@keyframes yellow {
    0% {
        opacity: .1;
    }

    20% {
        opacity: .1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    60% {
        opacity: .1;
    }

    80% {
        opacity: .1;
    }

    86% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes green {
    0% {
        opacity: .1;
    }

    40% {
        opacity: .1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    83% {
        opacity: .1;
    }

    100% {
        opacity: .1;
    }
}